
body{
    background-color:#0A192F;
  
}


.txt {
    
    display: inline-block;
    flex-wrap: wrap;
    overflow: hidden;
    border-right: 0.15em solid white;
    white-space: nowrap;
    animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
}



@keyframes typing {
    from { width: 0; }
    to { width: 70%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}


button{
    background-color: #FF6F61 !important;
  
}
button:hover{
    background-color:#db5a4f !important;
}

@media (max-width:600px) {
    #bdy{
        flex-direction: column;
        width: 100vw !important;
    }
    #pdf{
        top:1% !important;
        left:52% !important;
        font-size: 20px !important;
    }
    #pd{
        top:1% !important;
        left:10% !important;
        font-size: 20px !important;
       
    }
    #nav{
        display: flex;
        flex-direction: row;
       width: 100% !important;
    }
    #con{
        flex-direction: column;
        gap: 20px;
    } 

    #map{
    
        width: 100%;
    }
    #mapCont{
        margin-top: 50px;
    }
    #fr{
        width: 100% !important;
    }
.info{
 justify-content: left !important;
padding-top: 220px; 
height: 65% !important;
}
#home{
    margin-top: 7vh;
}  

}
.light{
    color: white !important;
}
.light:hover{
    color: rgb(146, 142, 136) !important;
}

#home{
    height: 100vh !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;

}


    @media (min-width: 992px) {
        #nav {
          position: fixed;
          top: 0;
          left: 0;
          height: 100vh;
          z-index: 1000;
          border: 3px solid black;
     
        }
        #bdy{
            margin-left: 15vw;
          }
    
      }
     

.accord{
    background-color:#1E293B;
box-shadow: 10px 10px 10px 10px black;
    color: white;
    font-size: 20px !important;
    width:80%;
}
.accbtn{
    background-color: rgb(83, 80, 80);
    color: white;
}

.cd{
    font-size: 20px;
   background-color:#1E293B;
    color:#F5F5F5;
    box-shadow: 15px 15px 15px 15px black;
    margin: 40px;
    margin-top: 120px;
    cursor: pointer;
    height: 70vh;
    overflow-x: auto;
    scrollbar-width: 5px;

}

.cd:hover{
    transform: scale(1.018)  !important;
    transition: transform 0.000000000000000000000000000000000000000000000000000000000000000001s   !important;
    
}
.mg{
   
    object-position: center;
    width: 100%;
    height: 60vh;
}

input{
    box-shadow: 10px 10px 10px 10px black;
}
textarea{
    box-shadow: 10px 10px 10px 10px black;
}

   #map{
     box-shadow:10px 10px 10px 10px black;
   }
   #map:hover{
    transform: scale(1.018);
   }

   a{
    border: 3px solid #0A192F !important;
    color: aqua !important;
 
   }
   a:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 3px 3px black;
   }

   button{
    box-shadow: 5px 5px 2px 2px black;
   } 

   button:hover{
    transform: scale(1.01);
   }
::-webkit-scrollbar-track{
    background: #45bcd1 !important;
}
   ::-webkit-scrollbar-thumb{
    background: #283750 !important;
   }
   ::-webkit-scrollbar{
    width: 12px;
   }
   ::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
    background-color: #0A192F !important;
   }